[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "vim-pipe"]
	path = vim-pipe
	url = http://github.com/krisajenkins/vim-pipe
